<div class="about-me-title">
    <h1>Hi there.</h1>
    <div class="about-me-content">
        <h3>How can you sum yourself up in one small page? I'll try. My name is Wills Blake. I was born in the United States, in Florida. I have lived here most of my life, aside from one small 3 month stint abroad.</h3>
        
        <h3>I really enjoy spending time in the kitchen. When I can find an evening or even whole day to make something fun, it's special. I enjoy baking both savory and sweet concoctions, with respect to that order of course (go team savory). There's nothing like a warm and soft loaf brought to you by your own efforts.</h3>

        <h3>I am currently working toward entering the web development realm, and currently enrolled with Flatiron. My experience with the program has been very good so far, seeing as this site is live within only 4 months of the beginning. I will continue to update the contents of this domain in tandem with the program's progression. I'll go deeper in a blog post.</h3>

    </div>
</div>


