<div class="cv-title">
    <h1>Curriculum Vitae</h1>
    <h3><a href="/assets/resume.pdf" target="_blank">Click to download</a></h3>
</div>

<iframe src="/assets/resume.pdf" width="650" height="820"></iframe>

