
<div class="intro-message">
  <h2>We're Up And Running!</h2>
  <p>Welcome to my folio site. This site is built using the Sinatra framework provided by RubyGems. Additionally, this web application is hosted by Digital Ocean, and served using Passenger and Nginx. Please see my blog where I go on endlessly about all of it. Thank you for visiting, and please see my CV attached in pdf format at the corresponding link.</p>
</div>
