<div class="updates">
    <div class="update-title-and-version">
        <h1>wills.fyi 1.0 (Published 02/23/20)</h1>
    </div>
    <div class="update-description">
        <p>This version includes a basic portfolio site with simplistic styling. I will use this site to maintain a blog, which will be the majority of content on this site.</p>
        <p>Along with basic information about me, there is a link to my resume (cv). The embedded live resume is hosted by Google. You can also download it from this server if you would prefer, by clicking 'download pdf' on the cv page.</p>
    </div>
</div>